@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
  /* hypothesis: if I keep style.css here in 'public' and have index.html get css from here and
  NOT src/style.css then i wont have any issues with subdirectories not having correct css 
  also life is easier with just 1 UNICO css file 

  hypothesis true... now deleting style.css in the 'src' folder

  borrowed from extrapractice.space */

  font-family: "departure-webfont";
  /* because this css file is already in 'public' folder */
  src: url(./DepartureMono-Regular.woff) format("woff");
}


#window-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* ^ adding padding/gap triggers scroll bar, 
  ^ also im only fitting one box that doesnt even cover the whole window so i dont need padding anyway
  gap: 20px;
  padding: 20px; */
}

#window {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid 1px;
  border-radius: 10px;

  /* ^ source = https://codyhouse.co/nuggets/beautiful-css-shadows */
  /* inner glow 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
  100%, 0.075),
  /* shadow ring 👇 */
  0 0 0 1px hsla(0, 0%, 0%, 0.05),
  /* multiple soft shadows 👇 */
  0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
  0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
  0 3.5px 6px hsla(0, 0%, 0%, 0.09);

  height: calc(70vh);
  width: calc(70vh);
}

header {
  /* good news: with display = flex, i dont have to worry abt the images not being centered in child elements unlike with grid
  i think it just shrinks the box until it fits the image perfectly and leaves the rest of the room for texty */
  display: flex;
  
  /* * pretty sure that this is BOLDER or BLACK */
  font-size: 60px;
  font-weight: 900;
  border-bottom: 1px solid;
  height: 7.5vh;
  width: 100%;
}

#texty {
  /* ^ solution for child becoming bigger than parent
  ^ in my case: the .texty and .clicky height were bigger than the header height
  source: https://www.reddit.com/r/css/comments/15qu1ml/restrict_childs_height_to_parents_height_which_is/ */
  height: 0;
  min-height: 100%;
  user-select: none;
  padding-left: 20px;
  flex-grow: 1;
}

.clicky {
  height: 0;
  min-height: 100%;
  /* ! temporary solution to the img not centering which is pissing me off */
  /* padding-left: 5px; */
  aspect-ratio: 1 / 1;
  /* NO flexgrow cuz i dont want it to grow */
}

#house, #smiley, #mail {
  border-left: solid 1px;
}

#house:hover {
  /* ^ solution for changing image when hover
  ^ scroll down a bit until u see "use content: "
  source: https://stackoverflow.com/questions/18813299/changing-image-on-hover-with-css-html */
  content: url("./khang\ house\ green.png");
}

#smiley:hover {
  content: url("./khang\ smiley\ green.png")
}

#mail:hover {
  content: url("./khang\ mail\ green.png")
}

img {
  /* ^ make image fit inside of div:
  source: https://stackoverflow.com/questions/4394309/how-do-i-fit-an-image-img-inside-a-div-and-keep-the-aspect-ratio */
  max-height:100%; 
  max-width:100%;
}



main {
  display: flex;
  /* ^ this just for the window, not any text so don't need this:
  text-align: center; */
  border-bottom: solid 1px;
}

footer {

}

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  gap: 20px;
  height: 100dvh;

  width: 100vw;
  color: #000;
  background-color: #FAF9F4;
  font-family: "departure-webfont";
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: normal;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: calc(33vw); */
  gap: 20px;
}

figure.block-image {
  border: dashed #000 1px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0;
  height: 100%;
}
figure.block-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

a, a::after {
  color: inherit;
}
a:hover {
  color: #ff790c;
}

/* h1, h2 {
  margin: 0;
}

h3 {
  margin: 0;
  color: #21a1de;
} */

.block {
  padding: 10px;
  border: dashed #000 1.75px;
  border-radius: 10px;

  max-width: 33vw;

  overflow: scroll;
}

.block:hover {
  background-color: #ccf0ff;
}

#idea {
  font-family: "departure-webfont";
  color: #bd7aff;
  border: dashed #bd7aff 1.75px;
}
#idea:hover {
  background-color: #bd7aff;
  color: white;
} 

#map { 
  height: 300px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: -15px;
}

/* end of extrapractice.space borrowing */
